

body{
      font-size:25px;
      min-height:250vh;
   }

.inner{
     border:3px solid red;
      width:45vw;
       height:100vh;
       margin:100px auto; 
     }
.box{
      width:150px;
      height:150px;
      color:white;
     margin:3px;
    background-color:black;
}
  
.absolute{
      background-color:blue;
      position:absolute;
      top:0;
      left:0;
       }
.relative{
       background-color:brown;
       position:relative;
      top:0;
      left:0;
     }

.fixed{
     background-color:green;
     position:fixed;
     left:0;
      }

.stickey{
       background-color:black;
       position:sticky;
       top:50px;
       left:15px;
}




 












